/* src/components/Nav/Nav.css */

.navbar {
    background-color: #2b2b2b;
    color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 0;
    gap: 20px;
    border-bottom: 2px solid #ff6b81;
}

.logo-img {
    height: 155px;
    width: auto;
}

.logo {
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    color: #ff69b4;
    text-align: center;
    margin: 10px 0;
}

.nav-list {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list a {
    text-decoration: none;
    color: 333;
    font-weight: 600;
}

.nav-list a:hover {
    color: #e85d75;
}

.in-cart {
    background: #e85d75;
    color: #fff;
    border-radius: 999px;
    padding: 2px 8px;
    font-size: .8rem;
    margin-left: 6px;
}